
# Ignore MySQL data (important)
data/
*.ibd
*.dblwr

# Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# Git and env files
.git/
.gitignore
.env

# Logs and editor files
*.log
.vscode/
.idea/
